<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body class="show-body">

    <!-- NAV -->
    <% include ./partials/nav.ejs%>

    <div class="show-container container">
      <!-- contains all page content -->
      <div class="flip-card">
        <div class="flip-card-inner">
          <!-- postcard image-->
          <div class="flip-card-front">
            <img id="show-img" src="<%= postcard.frontImage %>" />
          </div>

          <!-- message -->
          <% if(currentUser){%>
            <!-- if there is a message saved -->
            <% if (postcard.message !== '') { %>
            <div>
              <div class="flip-card-back">
                <p id="message-text">
                  <%= postcard.message %>
                </p>
              </div>
            </div>

          <% } else { %>
            <div class="flip-card-back">
              <a class="btn btn-warning" href="/alpacapost/<%= postcard.id %>/edit">ADD MESSAGE</a>
            </div>
          <% } %>

        </div>

        <% } else { %>
        <p>To begin creating postcards, please log in or register.</p>
        <% } %>
      </div>

      <!-- BUTTONS -->
      <div class="right-side">

        <img class="mini-show-img" src="<%= postcard.frontImage %>" />

        <div class="mini-show-img">
          <p id="mini-message-text">
            <%= postcard.message %>
          </p>
        </div>

        <a class="btn btn-warning show-btn" href="/alpacapost/<%= postcard.id %>/edit">EDIT</a>

        <form action="/alpacapost/<%=postcard.id%>?_method=DELETE" method="POST">
          <input class="btn btn-danger show-btn" type="submit" value="DELETE" />
        </form>
      </div>
    </div>


  </body>
  <% include ./partials/footer.ejs %>
</html>
