<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <header>
      <% include ./partials/header.ejs %>
    </header>
    <% include ./partials/nav.ejs%>



    <div class="container-fluid">
      <!-- contains all page content -->
      <div class="showcard">
        <!-- postcard image on left -->
        <div class="images">
          <img class="showimg" src="<%= postcard.frontImage %>" />
        </div>
        <!-- image and links to right -->
        <% if(currentUser){%>
          <% if (postcard.message !== '') {%>
          <div class="showright">


            <label for="message">Your message here: </label>
            <div class="messagebox">

              <p>
                <%= postcard.message %>
              </p>

            </div>

            <label for="from">From: </label>
            <p><%= postcard.sendFromName%></p>
            <br/>
            <div class="bottom">
              <a class="showlink btn" href="/alpacapost/<%= postcard.id %>/edit">EDIT</a>

              <form class="showlink" action="/alpacapost/<%=postcard.id%>?_method=DELETE" method="POST">
                <input class="showlink" type="submit" value="DELETE" />
              </form>

              <a class="showlink btn" href="mailto:<%= postcard.sendToEmail %>">SEND</a>
            </div>
          </div>
          <% } else { %>
            <div>
              <a class="showlink btn" href="/alpacapost/<%= postcard.id %>/edit">ADD MESSAGE</a>
              <form class="showlink" action="/alpacapost/<%=postcard.id%>?_method=DELETE" method="POST">
                <input class="showlink" type="submit" value="DELETE" />
              </form>
            </div>

          <% } %>
        <% } else { %>
        <p>To begin sending postcards, please log in or register.</p>
        <% } %>
      </div>
    </div>


  </body>
  <% include ./partials/footer.ejs %>
</html>
